<h1>Welcome to Scorepark</h1>
<p>Scorepark is an app that keeps track of your scores while you're out throwing. Made by a disc golfer for disc golfers.</p>
<p>Get started by creating an account.</p>
<button>Create Account</button>